.caeli-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5%;
  padding-left: 6%;
}

.caeli-navbar .navbar-brand {
  font-family: 'Pirulen', sans-serif;
  font-size: 70px;
  color: black;
  margin-bottom: 25px;
}

.caeli-navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 50px;
}

.caeli-navbar .menu > li > a {
  font-family: 'Heading72Light';
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  line-height: 3px;
}

.caeli-navbar .menu > li > a:hover, .caeli-navbar .menu > li > a:focus {
  background: 0;
  text-decoration: underline;
}

.caeli-navbar .menu .item1::before {
  content: '';
  width: 25px;
  height: 35%;
  background-color: #2c8e92;
  position: absolute;
  top: 10px;
  left: -20px;
}

.caeli-navbar .menu .item2::before {
  content: '';
  width: 25px;
  height: 35%;
  background-color: #e6a321;
  position: absolute;
  top: 10px;
  left: -20px;
}

.caeli-navbar .menu .item3::before {
  content: '';
  width: 25px;
  height: 35%;
  background-color: #e9673d;
  position: absolute;
  top: 10px;
  left: -20px;
}

.caeli-navbar .menu .item4::before {
  content: '';
  width: 25px;
  height: 35%;
  background-color: #9f2169;
  position: absolute;
  top: 10px;
  left: -20px;
}

/* Extra Small */
@media (max-width: 767px) {
  .navbar-mobile {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px;
    background-color: #ffffffc7;
  }
  .navbar-mobile .caeli-navbar {
    padding-top: 3%;
    padding-left: 0%;
  }
  .navbar-mobile .caeli-navbar .navbar-brand {
    font-size: 30px;
    margin-bottom: 0px;
  }
  .navbar-mobile .caeli-navbar .navbar-toggle {
    border: 1px solid black;
  }
  .navbar-mobile .caeli-navbar .navbar-toggle .icon-bar {
    background-color: black;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .caeli-navbar .navbar-brand {
    font-size: 35px;
  }
  .caeli-navbar .menu {
    padding-left: 35px;
  }
  .caeli-navbar .menu > li > a {
    font-size: 12px;
  }
  .caeli-navbar .menu .item1::before {
    content: '';
    width: 20px;
    height: 30%;
    top: 12px;
    left: -13px;
  }
  .caeli-navbar .menu .item2::before {
    content: '';
    width: 20px;
    height: 30%;
    top: 12px;
    left: -13px;
  }
  .caeli-navbar .menu .item3::before {
    content: '';
    width: 20px;
    height: 30%;
    top: 12px;
    left: -13px;
  }
  .caeli-navbar .menu .item4::before {
    content: '';
    width: 20px;
    height: 30%;
    top: 12px;
    left: -13px;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .caeli-navbar .navbar-brand {
    font-size: 60px;
  }
  .caeli-navbar .menu > li > a {
    font-size: 13px;
  }
  .caeli-navbar .menu .item1::before {
    content: '';
    width: 22px;
    height: 32%;
    top: 12px;
    left: -17px;
  }
  .caeli-navbar .menu .item2::before {
    content: '';
    width: 22px;
    height: 32%;
    top: 12px;
    left: -17px;
  }
  .caeli-navbar .menu .item3::before {
    content: '';
    width: 22px;
    height: 32%;
    top: 12px;
    left: -17px;
  }
  .caeli-navbar .menu .item4::before {
    content: '';
    width: 22px;
    height: 32%;
    top: 12px;
    left: -17px;
  }
}

/* Large */
/*# sourceMappingURL=menu.css.map */